<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<div ng-controller="HomeController" >

    <h2 class="only-font-style">Welcome to Stream Calculation Model</h2>
    <p>You can use this system to manage streaming tasks.</p>

    <div class="line"></div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label class="only-font-style">You need to log on to use this system.</label>
        </div>
    </div>
    <a class="nav-link btn btn-blue btn-blue-text only-font-style" href="#!/tasks">Sign in</a>
    <a class="nav-link btn btn-blue btn-blue-text only-font-style" href="#!/tasks">Sign up</a>

</div>
</html>