<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<div ng-controller="HomeController" >

    <h2 class="only-font-style">Welcome to Stream Calculation Model</h2>
    <p>You can use this system to manage streaming tasks.</p>

    <div class="line"></div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label class="only-font-style">You need to log on to use this system.</label>
        </div>
    </div>
    <div>
        <a class="btn btn-blue btn-a-text only-font-style" href="#!/login">Sign in</a>
        <div class="interval-float without-selected">&nbsp;</div>
        <a class=" btn btn-blue btn-a-text only-font-style" href="#!/register">Sign up</a>
    </div>
</div>
</html>