<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <property name="nameNode" value="stream-calculation" />
    <property name="logPath" value="./logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %level | [%thread] [%class:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${nameNode}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %level | [%thread] [%class:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 配置日志所生成的目录以及生成文件名的规则 在logs/stream-calculation-2018-11-11.0.log.zip -->
            <fileNamePattern>${logPath}/${nameNode}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为365天，365天之前的都将被清理掉 -->
            <!--maxHistory>365</maxHistory-->
            <!-- 日志总保存量为10GB -->
            <!--totalSizeCap>10GB</totalSizeCap-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被压缩和切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-OUT" />
    </root>
</configuration>